.app.dark {
    --bg-color: rgb(0 0 0);
    --inverted-bg-color: rgb(255 255 255);
    --primary-color: rgb(197 97 255);
    --secondary-color: rgb(182 182 182);
    --inverted-primary-color: rgb(21 0 211);
    --inverted-secondary-color: rgb(40 79 252);
}
