name: linting, testing, building
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ '18.x', '20.x', '22.x' ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install modules
        run: npm ci

      - name: Build production project
        run: npm run build:prod
        if: always()

      - name: Linting TypeScript
        run: npm run lint:ts
        if: always()

      - name: Linting CSS
        run: npm run lint:scss

      - name: Unit testing
        run: npm run test:unit
        if: always()

      - name: Build Storybook
        run: npm run storybook:build
        if: always()

      - name: Screenshot testing
        run: npm run test:ui:ci
        if: always()